# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
*.venv/
*.log
*.pot
*.db
*.sqlite
*.sqlite3
*.log.*
*.bak
*.swp
*.swo
.Python
.DS_Store
*.pem
*.pid
*.log
*.pyc
db.sqlite3
*.log.*
*.bak
*.swp
*.swo
*.pyc
*.cache
*.egg-info
*.env
*.pyc
*.pyo
*.rej
*.swp
*.swo
.Python
.DS_Store
.idea/
*.db
*.db-journal
*.log
*.bak
*.swp
*.swo
*.pyc
*.pyo
*.rej
*.swp
*.swo
*~

# Terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars  # Possibly, depending on whether you store secret data in tfvars
.terraform/

data_synthesizer_key*
app.zip
tmp
data